.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-intro {
  font-size: large;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.App-header {
  background-color: #1C0B19;
  height: 150px;
  padding: 20px;
  color: white;
}
.app {
  width: 500px;
  margin: 10px;
}
.app-header {
  margin: 10px;
}
.markAsDone{
  text-decoration: line-through;
}
.title {
  font-size: 25px;
  font-weight: 500;
}
.input {
  display: flex;
  justify-content: flex-start;
}
.input input {
  width: 80%;
  height: 30px;
  padding: 5px;
  font-size: medium;
  border:1px solid #eee;
  border-radius: 3px;
}
.input button {
  background-color: #320D6D;
  color: white;
  font-size: medium;
  width: 30%;
  margin-left: 20px;
  border:0px;
  border-radius: 5px;
}
.list {
  margin-top: 25px;
}
.item {
  display: flex;
  box-shadow: 1px 1px 4px #00000029;
  border: #f5f5f5 1px solid;
  border-radius: 3px;
  align-items: center;
  height: 30px;
  padding: 10px;
  margin-top: 5px;
  font-size: larger;
}
.item p {
  text-align: left;
  margin: auto;
}
.item button {
  padding: 10px;
  background-color: #CC5A71;
  color:white;
  font-size: 14px;
  opacity: 0.95;
  border:0px;
  border-radius: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}